@charset "UTF-8";
.contents{
    width: 1200px;
    margin: 0 auto;
}
body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    line-height: 1.5em;
    background-color: cornsilk;
}
ul{
    list-style: none;
}
header{
    width : 1200px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
}
.main_menu{
    width: 1200px;
    height: 110px;
    position: relative;
}
nav{
    position: absolute;
    text-decoration: none;
    right: 0px;
}
.titleLogo{
    position: absolute;
    margin: 30px;
    left: 0;
}
.titleLogo>img{
    height: 35px;
}
nav ol li{
    float: left;
    margin: 30px 20px;
    text-align: center;
    list-style: none;
}
a{
    text-decoration: none;
}
.main_menu a:hover{
    background-color:rgba(216, 216, 216, 0.267);
}

footer{
    position: absolute;
    bottom: 1%;
    margin:15px;
    text-align: center;
}
footer{
    width: 1200px;
    margin: 0 auto;
}
.footText{
    margin: 50px;
}
@media screen and (max-width: 1200px) {
    html{
        width: 1220px;
    }
}
@media screen and (min-width: 1200px) {
.typesText{
    margin: 8%;   
}

}